<body>
    <div class="text-center my-3">
        <h1 id="Finanzas">FINANZAS</h1>
    </div>
    <h1>Cuentas</h1>
    <div class="text-center my-3">
    </div>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Tipo</th>
                <th>Saldo</th>
                <th>Moneda</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var cuenta in (List<Cuenta>)ViewBag.ListaCuentas)
            {
                <tr>
                    <td>@cuenta.Id</td>
                    <td>@cuenta.Nombre</td>
                    <td>@cuenta.Categoria</td>
                    <td>@cuenta.Tipo</td>
                    <td>@cuenta.SaldoInicial</td>
                    <td>@cuenta.Moneda</td>
                    <td>
                        <a href="/Cuenta/Gasto?IdCuenta=@cuenta.Id" class="btn btn-primary">Realizar Gasto</a>
                        <a href="/Cuenta/Ingreso?IdCuenta=@cuenta.Id" class="btn btn-primary">Realizar Ingreso</a>
                        <a href="/Cuenta/Movimientos?IdCuenta=@cuenta.Id" class="btn btn-primary">Ver Movimientos</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h1>Saldo (S): S/.@ViewBag.MontoSoles</h1>
    <h1>Saldo (D): $/.@ViewBag.MontoDolares</h1>
    <h1>El saldo en soles a dolares: S/.@ViewBag.Conversion</h1>
    <h1> </h1>
    <a href="/Cuenta/Crear" class="btn btn-primary">Crear Cuenta</a>
</body>